*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {

  font-family: "Barlow Semi Condensed";

  src: url("./BarlowSemiCondensed-Bold.ttf") format("truetype");

  font-weight: 700;

}
body{
     font-family: "Barlow Semi Condensed", sans-serif;
    background: linear-gradient( hsl(214, 47%, 23%),hsl(237, 48%, 15%));
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.heading{
    display: flex;
   margin-top: 60px;
    justify-content: space-between;
    margin-bottom: 48px;
   border: 3px solid hsla(0, 0%, 100%, 0.3);
    border-radius: 12px;
    padding: 24px;
    max-width: 700px;
    width: 100%;
    
}

.container-1{
    color: white;
    font-size: 20px;
}

.container-1 h1{
    margin: 0;
    line-height: 0.85;
}

.score{
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.score p{
    color: hsl(229, 64%, 46%);
    font-size: 20px;
    
}
.score h3{
    color: hsl(229, 25%, 31%);
    font-size: 48px;
}

.choice {
    display: none;
}

.choice.active {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}



.paper-scissor{
    margin-top: 80px;
    display: flex;
    gap: 150px;
    margin-bottom: 70px;
}

.paper , .scissors , .rock{
 background-color: white;
    width: 160px;
    height:160px;
    
    padding: 24px 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paper{
   
    border: 20px solid hsl(230, 89%, 62%);
   
    
}

.scissors{
   
    border: 20px solid hsl(39, 89%, 49%);
  
}
.rock{
      
  
    border: 20px solid  hsl(349, 71%, 52%);
    
   
}

.compare{
    display: none;
}
.compare.active {
    width: 900px;
   display:flex;
   justify-content: space-between;
    height: 520px;
    font-size: 20px;
    color: white;
}

.compare.active h3 {
    margin-bottom: 150px;
    font-size: 25px;
}

.winner{


    box-shadow:

        0 0 0 60px rgba(255,255,255,0.03),

        0 0 0 120px rgba(255,255,255,0.025),

        0 0 0 180px rgba(255,255,255,0.02);
}

#final-div{
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
.final{
    margin-top: 200px;
    font-size: 30px;
}

.play-again{
    margin-top: 12px;
    padding: 12px 48px;
    border-radius: 8px;
    font-size: 16px;
    background-color: white ;
    border: none;
}

